[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*" 
flask-login = "*"
flask-migrate = "*"
flask-restx = "*"
gunicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
email-validator = "*"
pymysql = "*"
update = "*"
pytz = "*" 
flask-cors = "*"
cryptography = "*"
flask-jwt = "*"

[dev-packages]
requests = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.8"
