[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
flask-sqlalchemy = "*" 
click = "*"
flask-wtf = "*"
flask-login = "*"
email-validator = "*"
pymysql = "*"
update = "*"
pytz = "*"
flask-migrate = "*"

[dev-packages]
requests = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.8"
