{% extends "layout.html" %}
{% block title %}404 Not Found{% endblock %}

{% block content %}
<div class="container ">
  <form class="card sign-form p-4 mt-5">
    <h3 class="mb-5 mx-auto">404 NOT FOUND</h3>
    <pre class="mx-auto" style="line-height: 1.2; white-space: pre;">
     \        미안합니다         /
      \                        /
       \     존재하지 않는     /
        ]    페이지 입니다.    [    ,'|
        ]                     [   /  |
        ]___               ___[ ,'   |
        ]  ]\             /[  [ |:   |
        ]  ] \           / [  [ |:   |
        ]  ]  ]         [  [  [ |:   |
        ]  ]  ]__     __[  [  [ |:   |
        ]  ]  ] ]\ _ /[ [  [  [ |:   |
        ]  ]  ] ] (#) [ [  [  [ :===='
        ]  ]  ]_].nHn.[_[  [  [
        ]  ]  ]  HHHHH. [  [  [
        ]  ] /   `HH("N  \ [  [
        ]__]/     HHH  "  \[__[
        ]         NNN         [
        ]         N/"         [
        ]         N H         [
       /          N            \
      /           q,            \
     /                           \
    </pre>
  </form>
</div> 
{% endblock %}