{% extends "layout.html" %}
{% block title %}ERROR{% endblock %}

{% block content %}
<div class="container ">
  <div class="card sign-form p-4 mt-5">
    <h3 class="mb-5 mx-auto">ERROR</h3>
    <pre class="mx-auto" style="line-height: 1.2; white-space: pre;">
     \        미안합니다         /
      \                        /
       \     아래 깃허브로     /
        ]    문의해주세요.     [    ,'|
        ]                     [   /  |
        ]___               ___[ ,'   |
        ]  ]\             /[  [ |:   |
        ]  ] \           / [  [ |:   |
        ]  ]  ]         [  [  [ |:   |
        ]  ]  ]__     __[  [  [ |:   |
        ]  ]  ] ]\ _ /[ [  [  [ |:   |
        ]  ]  ] ] (#) [ [  [  [ :===='
        ]  ]  ]_].nHn.[_[  [  [
        ]  ]  ]  HHHHH. [  [  [
        ]  ] /   `HH("N  \ [  [
        ]__]/     HHH  "  \[__[
        ]         NNN         [
        ]         N/"         [
        ]         N H         [
       /          N            \
      /           q,            \
     /                           \
    </pre>
  <a class="text-muted mx-auto" target="_blank" href="https://github.com/2ykwang"><p >github.com/2ykwang</p></a>
  </div> 
</div> 
{% endblock %}