@import url(//font.elice.io/EliceDigitalBaeum.css);


html,
body {
    font-family: "Elice Digital Baeum", sans-serif;
}

.nav>li>a:hover {
    color: #564BBE;
}

.book-image{
    object-fit: cover;
}
.book-title{ 
    font-weight: 600;
}


.ratings {
    margin-right: 10px
}

.ratings i {
    color: #cecece;
    font-size: 32px
}
.rating-color {
    color: #fbc634 !important
}

.review-count {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px !important
}

.small-ratings i {
    color: #cecece
}

.review-stat {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px
}