@import url(//font.elice.io/EliceDigitalBaeum.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
}

:root {
    --main-color: #564BBE;
    --default-typo-white: #fefefe;
    --default-typo-black: #333;
    --main-bg-color: #F7F9FA;
    --footer-bg-color: #EBECEE;
    --point-font: "Elice Digital Baeum", sans-serif;
    --default-font: 'Noto Sans KR', 'Nanum Gothic', "Apple SD Gothic Neo", sans-serif
}

/* 전역 */
html,
body {
    background-color: var(--main-bg-color);
    font-family: var(--default-font);
    width: 100%;
    height: 100%;
}
footer {
    background-color: var(--footer-bg-color);
}
/* 포인트 글씨체 */
h1,
h2,
h3,
h4,
h5,
h6,
.text-muted,
.nav {
    font-family: var(--point-font);

}

a {
    text-decoration: none !important
}

a:hover {
    text-decoration: none !important
}

.card-link {
    color: var(--default-typo-black);
}

img {
    max-width: 100%;
}

.text-main {
    color: var(--main-color);
}


/* 북 리스트 */
.card-link:hover {
    color: var(--main-color);
} 
.nav>li>a:hover {
    color: var(--main-color);
}

.page-item.active .page-link {
    color: var(--default-typo-white);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-main {
    color: var(--main-color);
    border-color: var(--main-color);
}

.btn-main:hover {
    color: var(--default-typo-white);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.book-image {
    object-fit: contain;
}

.book-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
    font-size:1.15em;
    font-weight: 600;
    height: 30px;
}
.book-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
}

.ratings {
    margin-right: 10px
}

.ratings i {
    color: #cecece;
    font-size: 32px
}

.rating-color {
    color: #fbc634 !important
}

.rating-color-text {
    color: var(--default-typo-black) !important;
    font-weight:400;
    font-size:15px;
}

.review-count {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px !important
}

.small-ratings i {
    color: #cecece
}

.review-stat {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px
}


/* 상세 페이지 */

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic img {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    overflow: hidden;
    width: 100%;
}

.preview-card {
    max-width: 1200px;  
    padding: 3em;
    line-height: 1.5em;
}

.book-detail-header {
    text-transform: UPPERCASE;
    line-height: 10px;
}

.product-title,
.rating,
.product-description {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

/*# sourceMappingURL=style.css.map */

/* sign */

.sign-form {
    width: 100%;
    max-width: 500px;
    margin: auto;

}
.comments {  
    margin: auto;
    width:100%; 
}
.comments>.card{
    border:0;

}
.comment-card-name{
    font-size: 1.1rem;
    font-weight: 600;
}  
.comment-card {
    max-width: 1200px;  
    padding: 3em;
    line-height: 1.5em;
}

.comment-box {
    max-width: 1200px;  
    background-color: var(--point-font);
    min-height: 130px;
    width:100%; 
    margin: auto;
} 
.comment-box-rating { 
    min-width:140px;
    max-width: 200px;  
    border:0;
    outline:0;
} 
.comment-box-form>input{
    border: 0;
}
.comment-box-form>label{
    height:200 px;
    color:var(--default-typo-black);
} 


.search-form { 
    max-width: 600px;  
    margin: auto;
    width: 100%;
}