<footer class="text-center footer mt-auto border-top"> 
  <div class="container pt-4 footers"> 
    <section class="mb-4 footers"> 
      <!-- Gitlab -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://kdt-gitlab.elice.io/yeonggwang"
        role="button"
        target="_blank"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-gitlab"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/2ykwang"
        role="button"
        target="_blank"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section> 
  </div>
</footer>