    <header class="p-3 mb-3 border-bottom">
        <div class="container"> 
          <div class="nav col-12 col-lg-auto me-lg-auto mb-3 justify-content-center mb-md-0">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img class="bi me-2" width="40" height="32" src="{{ url_for('static', filename='media/logo_elice_white.svg') }}"> </img>
            </a>
            <ul class="nav me-auto justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-dark">레이서 도서관</a></li>
                <li><a href={{url_for('main.index', q="", page=1,style="list", sort="popularity")}} class="nav-link px-2 link-dark">인기 도서</a></li>
                <li><a href={{url_for('main.index', q="", page=1,style="list", sort="review")}} class="nav-link px-2 link-dark">리뷰 많은 도서</a></li>
                <li><a href={{url_for('main.index', q="", page=1,style="list", sort="visit")}} class="nav-link px-2 link-dark">많이 찾는 도서</a></li>
            </ul>

            <ul class="nav d-none d-md-block">
                {% if not current_user.is_authenticated %}
                <li><a href="{{url_for('auth.login')}}" class="nav-link link-dark px-2">로그인</a></li>
                {% else %}
                <div class="dropdown text-end">
                  <a href="#" class="nav-link link-dark px-2 dropdown-toggle" id="dropdown-user" data-bs-toggle="dropdown" aria-expanded="false">
                    {{current_user.name}}님
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdown-user" style=""> 
                    <li><a href="{{url_for('mybook.rented_books_history')}}" class="dropdown-item">대여기록</a></li>
                    <li><a href="{{url_for('mybook.rented_books')}}" class="dropdown-item">반납하기</a></li> 
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">로그아웃</a></li>
                  </ul>
                </div> 
                {% endif %}
            </ul>
            
            <!-- size < md 레이아웃-->
            <ul class="nav me-auto justify-content-center d-md-none">
              {% if not current_user.is_authenticated %}
              <li><a href="{{url_for('auth.login')}}" class="nav-link link-dark px-2">로그인</a></li>
              {% else %}
              <li><a href="{{url_for('mybook.rented_books_history')}}" class="nav-link px-2 link-dark">대여기록</a></li>
              <li><a href="{{url_for('mybook.rented_books')}}" class="nav-link px-2 link-dark">반납하기</a></li>
              <li><a href="{{url_for('auth.logout')}}" class="nav-link px-2 link-dark">로그아웃</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
    </header>