{% import "macro/_rating.html" as rating %}
{% extends "layout.html" %}
{% block title %}{{ book.book_name }}{% endblock %}

{% block content %}
<div class="container p-2">
    <div class="card preview-card">
        <div class="container-fliud">
            <div class="wrapper row ">

                <div class="preview col-md-6">
                    <div class="preview-pic">
                        <img class="book-image card-img-top" width="100%" height="500" src="{{ url_for('static', filename= book.image_url) }}" />
                    </div>  
                </div>

                <div class="details col-md-6">
                    <h3 class="product-title">{{book.book_name}}</h3>
                    <div class="rating">

                        {% set score = get_score(book.id) %} 
                        <div class="small-ratings">  
                            <div class="card-subtitle mb-2 small-ratings">
                            {% if score %}
                                {{rating.print_rating(get_stars_count(score["score"]))}}
                                <span class="rating-color-text">({{score["score"]|int}} 점)</span>
                            {% else %}
                                {{rating.print_rating(get_stars_count(0))}}
                            {% endif %}
                            </div> 
                        </div> 
                        <span class="review-no">{% if score %}{{score["count"]}}{% else %}0{% endif %} 개의 리뷰</span> 
                    </div>
                    <p class="product-description">{{book.description}}</p>  
                    <p class="book-detail-header"><strong>저자: </strong>{{book.author}}</p>
                    <p class="book-detail-header"><strong>출판사: </strong>{{book.publisher}}</p> 
                    <p class="book-detail-header"><strong>출간일: </strong>{{book.publication_date | datetime()}}</p> 
                    <p class="book-detail-header"><strong>페이지: </strong>{{book.pages}}</p> 
                    <p class="book-detail-header"><strong>ISBN: </strong>{{book.isbn}}</p>  
  
                    <div class="row"> 
                        <div class ="col-6">
                            <button type="button" class="btn btn-md btn-main" data-bs-toggle="modal" data-bs-target="#rentalModal">대여하기</button> 
                        </div>
                        <div class ="col-6 text-end"> 
                            <small class="text-muted">{{book.stock}} 권 남음</small> 
                        </div> 
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rentalModal" tabindex="-1" aria-labelledby="rentalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="rentalModalLabel">책을 대여하시겠습니까?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        "<strong>{{book.book_name}}</strong>" 
        <p>책을 대여하시겠습니까? 한번 더 확인해주세요.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요.</button> 

        <form method="POST" action="{{url_for("main.book_rent",id=book.id)}}">   
            <input type="hidden" name="book_id" id="book_id" value="{{book.id}}">
            <button type="submit" class="btn btn-primary">빌릴게요</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container p-2">
    <div class="card preview-card mt-3">
        <div class="container-fliud">
            <div class="wrapper row"> 
            </div>
        </div> 
    </div> 
</div>
 
{% endblock %}