{% import "macro/_rating.html" as rating %}
{% extends "layout.html" %}
{% block title %}{{ book.book_name }}{% endblock %}

{% block content %}
<div class="container p-2">
   <div class="card preview-card">
      <div class="container-fliud">
        <div class="wrapper row ">

           <div class="preview col-md-6">
              <div class="preview-pic">
                <img class="book-image card-img-top" width="100%" height="500" src="{{ url_for('static', filename= book.image_url) }}" />
              </div>  
           </div>

           <div class="details col-md-6">
              <h3 class="product-title">{{book.book_name}}</h3>
              <div class="rating">

                {% set score = get_score(book.id) %} 
                <div class="small-ratings">  
                   <div class="card-subtitle mb-2 small-ratings">
                   {% if score %}
                      {{rating.print_rating(score["score"])}}
                      <span class="rating-color-text">({{score["score"]|round(1, 'floor')}} 점)</span>
                   {% else %}
                      {{rating.print_rating(0)}}
                   {% endif %}
                   </div> 
                </div> 
                <span class="review-no">{% if score %}{{score["count"]}}{% else %}0{% endif %} 개의 리뷰</span> 
              </div>
              <p class="product-description">{{book.description}}</p>  
              <p class="book-detail-header"><strong>저자: </strong>{{book.author}}</p>
              <p class="book-detail-header"><strong>출판사: </strong>{{book.publisher}}</p> 
              <p class="book-detail-header"><strong>출간일: </strong>{{book.publication_date | format_datetime()}}</p> 
              <p class="book-detail-header"><strong>페이지: </strong>{{book.pages}}</p> 
              <p class="book-detail-header"><strong>ISBN: </strong>{{book.isbn}}</p>  
  
              <div class="row"> 
                <div class ="col-6">
                   {%if not is_rented%}
                   <button type="button" class="btn btn-md btn-main" data-bs-toggle="modal" data-bs-target="#rentalModal">대여하기</button> 
                   {% else %}
                   <button type="button" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#returnModal">반납하기</button> 
                   {% endif %}
                </div>
                <div class ="col-6 text-end"> 
                   <small class="text-muted">{{book.stock}} 권 남음</small> 
                </div> 
              </div>  
           </div>
        </div>
      </div>
   </div>
</div>
{% if not is_rented %}
<div class="modal fade" id="rentalModal" tabindex="-1" aria-labelledby="rentalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
   <div class="modal-content ">
    <div class="modal-header">
      <h5 class="modal-title" id="rentalModalLabel">책을 대여하시겠습니까?</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      "<strong>{{book.book_name}}</strong>" 
      <p>책을 대여하시겠습니까? 한번 더 확인해주세요.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요.</button> 

      <form method="POST" action="{{url_for("main.book_rent",id=book.id)}}">  
        <input type="hidden" name="book_id" id="book_id" value="{{book.id}}">
        <button type="submit" class="btn btn-primary">빌릴게요</button>
      </form>
    </div>
   </div>
  </div>
</div>
{% else %}

<div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="returnModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
   <div class="modal-content ">
    <div class="modal-header">
      <h5 class="modal-title" id="returnModalLabel">책을 반납하시겠습니까?</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      "<strong>{{book.book_name}}</strong>" 
      <p>책을 반납하시겠습니까? 한번 더 확인해주세요.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니요.</button> 

      <form method="POST" action="{{url_for("main.book_return", id=book.id)}}">  
        <input type="hidden" name="book_id" id="book_id" value="{{book.id}}">
        <button type="submit" class="btn btn-primary">반납 할게요</button>
      </form>
    </div>
   </div>
  </div>
</div>
{% endif %}
<div class="container p-2 mb-5">
   <div class="card comment-card mt-3 ">
      <!-- write comment box 시작 -->
      {% if can_write_review %}
      <form action="{{url_for('main.book_review', id=book.id)}}" method="POST" class ="card comment-box p-3" >
        <input type="hidden" name="act" id="act" value ="write">
        <div class="row"> 
           <div class="col col-12">
              <div class="form-floating comment-box-form p-2">
                <input class="form-control" placeholder="댓글 이곳에.." name="content" id="content"></textarea>
                <label for="content" class="mt-2 ms-2">내용</label>
              </div>
           </div> 
            <div class="col ms-2">
                <div class ="col comment-box-rating">
                    <div class ="small-ratings">
                        <select name="score" class="form-select" aria-label="Default select example">
                            <option selected>점수</option>
                            <option value="1">⭐</option>
                            <option value="2">⭐⭐</option>
                            <option value="3">⭐⭐⭐</option>
                            <option value="4">⭐⭐⭐⭐</option>
                            <option value="5">⭐⭐⭐⭐⭐</option>
                        </select>
                    </div>
                </div> 
            </div>
            <div class="col-auto me-2">
                <button type="submit" class="btn btn-main">게시</button>
            </div> 
        </div>
      </form> 
      {% endif %}
      <!-- write comment box 끝 -->

      <!-- comments -->
      <div class="row comments"> 
        {% for review in reviews %}
        <div class="card p-3 border-bottom">
            <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                    <span>
                    <small class="font-weight-bold text-main comment-card-name">{{review.user_name}}</small>  
                    </span> 
                </div> 
                <div class="col-auto me-1">
                <small class ="text-muted">{{review.created | created_datetime}}</small> 
                </div> 
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2 mb-1">
            <span><small class="font-weight-bold">{{review.content}}</small></span>
                <div class="align-items-center">
                    <div class ="small-ratings">   
                        {{rating.print_rating(review.score)}}
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-2 mb-1">
            {% if review.user_id == current_user.id %}
                <div class="col"></div>
                <div class="align-items-center col-auto me-1 "> 
                  <button type="button" class="btn btn-sm btn-danger" onClick="deleteBookClickHandler(event)" data-book-id="{{book.id}}" data-review-id="{{review.id}}">X</button>
                </div>
            {% endif %}
            </div> 
        </div>
        {% endfor %}
      </div>
      {% if not reviews %}
      <div class="text-center mt-5">
      <img src="{{url_for('static', filename='media/comment_icon.png')}}" style="width:40px;" class = "mb-3">
        <p class="text-muted">아직 리뷰가 없습니다. 첫 리뷰를 달아주세요!</p>
      </div>
      {% endif %}
      <!-- comments  end-->
   </div> 
</div>
{% endblock %} 