<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>엘리스 도서관 - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container"> 
          <div class="nav col-10 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img class="bi me-2" width="40" height="32" src="{{ url_for('static', filename='media/logo_elice_white.svg') }}"> </img>
            </a>
            <ul class="nav me-auto justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-dark">레이서 도서관</a></li>
                <li><a href="#" class="nav-link px-4 link-dark">대여기록</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">반납하기</a></li> 
            </ul>

            <ul class="nav">
                <li><a href="#" class="nav-link link-dark px-2">로그인</a></li> 
                <li><a href="#" class="nav-link link-dark px-2">회원가입</a></li> 
            </ul>
          </div>
        </div>
    </header>
    <div class ="bg-light py-0">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>